version: 2
updates:
      # Frontend
    - package-ecosystem: 'npm'
      directory: '/frontend'
      schedule:
          interval: 'weekly'
      labels: 
        - 'dependencies'
        - 'security'
      # Backend
    - package-ecosystem: 'npm'
      directory: '/backend'
      schedule:
          interval: 'weekly'
      labels: 
        - 'dependencies'
        - 'security'
    - package-ecosystem: 'github-actions'
      directory: "/"
      schedule:
        interval: "weekly"
      labels:
        - 'dependencies'
        - 'ci'
