services:
  postgres:
    image: postgres:16
    container_name: app_postgres
    env_file: .env
    environment: 
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 3s
      timeout: 3s
      retries: 20
  
  postgres_test:
    image: postgres:16
    container_name: app_postgres_test
    env_file: .env
    environment: 
      POSTGRES_USER: ${TEST_DB_USER}
      POSTGRES_PASSWORD: ${TEST_DB_PASSWORD}
      POSTGRES_DB: ${TEST_DB_NAME}
    ports:
      - "${TEST_DB_PORT}:5432"
    healthcheck:
      test: ['CMD-SHELL', "pg_isready -U ${TEST_DB_USER} -d ${TEST_DB_NAME}"]
      interval: 3s
      timeout: 3s
      retries: 20

volumes: 
  pgdata: