# Workflow Name
name: 'Full-Stack_Demo'

# Auslösung des Workflows bei Schritten:
on:
    push:
        branches: ['master']

# Verhindere parallele Builds für den selben Branch
concurrency:
    group: ci-${{github.ref}}
    cancel-in-progress: true

jobs:
    # FRONTEND:
    frontend:
        # Ubuntu-VM als Runner
        runs-on: ubuntu-latest

        strategy:
            # Stoppe nicht alle Matrix-Jobs bei erstem Fehler
            fail-fast: false

            matrix:
                node-version: [20.x, 22.x]

        # Default Arbeitsverzeichnis für alle folgende run-Befehle
        defaults:
            run:
                working-directory: frontend

        steps:
            # Lade den Repository Code auf den Runner
            - name: Checkout Repository
              uses: actions/checkout@v4

            # Installiere der jeweiligen Node-Version aus der Matrix
            - name: Install Node.js ${{matrix.node-version}}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{matrix.node-version}}
                  # Aktiviere Cache für schnellere Build
                  cache: 'npm'
                  cache-dependency-path: frontend/package-lock.json

            # Installiere der Dependencies
            - name: Install Dependencies
              run: npm ci

            # PLATZHALTER: Führe Linter aus (falls vorhanden)
            - name: Run Linter
              run: npm run lint --if-present

            # PLATZHALTER: Führe Tests aus (falls vorhanden)
            - name: Test
              run: npm test --if-present

            # Frontend Aufbau
            - name: Build Frontend
              run: npm run build --if-present

            # Speichere Build als Artifact
            - name: Upload Frontend Build Artifact
              uses: actions/upload-artifact@v4
              with:
                  name: frontend-build-${{matrix.node-version}}
                  path: frontend/dist
                  if-no-files-found: ignore

    # BACKEND:
    backend:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                node-version: [20.x, 22.x]

        defaults:
            run:
                working-directory: backend

        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4

            # Node-Version Konfigurieren
            - name: Install Node.js ${{matrix.node-version}}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{matrix.node-version}}
                  cache: npm
                  cache-dependency-path: backend/package-lock.json

            # Installiere der Dependencies
            - name: Install Dependencies
              run: npm ci

            # PLATZHALTER: Führe Linter aus (falls vorhanden)
            - name: Run Linter
              run: npm run lint --if-present

            # PLATZHALTER: Führe Tests aus (falls vorhanden)
            - name: Test
              run: npm test --if-present

            # BACKEND Aufbau
            - name: Build Frontend
              run: npm run build --if-present

            # Speichere Build als Artifact
            - name: Upload Frontend Build Artifact
              uses: actions/uploфd-artifact@v4
              with:
                  name: frontend-build-${{matrix.node-version}}
                  path: frontend/dist
                  if-no-files-found: ignore
